@import "variables/Variables";

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.square {
  position: relative;
  display: inline-block;
  border: 2px solid deepskyblue;
  padding: $padding-size 0 0 $padding-size;

  &__line {
    display: flex;
  }

  &:hover .block_minus-row {
    visibility: visible;
    opacity: 1;
  }

  &:hover .block_minus-column {
    visibility: visible;
    opacity: 1;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &__blue {
    background-color: deepskyblue;
    border-bottom: $padding-size solid white;
    border-right: $padding-size solid white;
  }
  &__orange {
    background-color: orange;
    cursor: pointer;
  }
  &__red {
    background-color: darkred;
    cursor: pointer;
  }

  &_plus {
    &-column,
    &-row {
      position: absolute;
    }
    &-column {
      top: 100%;
      margin-top: $padding-size + 2;
    }
    &-row {
      top: 2px;
      left: 100%;
      margin-left: $padding-size + 2;
    }
  }

  &_minus {
    &-column,
    &-row {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: .5s;
    }

    &-column {
      bottom: 100%;
      margin-bottom: $padding-size + 2;
      border-left: $padding-size solid white;
      border-right: $padding-size solid white;
    }

    &-row {
      right: 100%;
      margin-right: $padding-size + 2;
      z-index: -1;
      border-top: $padding-size solid white;
      border-bottom: $padding-size solid white;
    }
  }
}
